<div class="container">
    <div>
        <div class="block">
            <div>
                <label>Name</label>
                <input [(ngModel)]="name" type="text" class="user"/>
            </div>
            <div class="block-price">
                <label>Price</label>
                <input [(ngModel)]="price" type="text" class="pass"/>
            </div>
            <div class="image">
              <label>Image</label>
              <input [(ngModel)]="image" type="text" class="input-image"/>
            </div>

            <div class="create">
              <button class="button-3" (click)="create()">Create</button>
            </div>


        </div>
    </div>
</div>

