<div class="card" > <!-- style="width : 18rem;"-->
    <div class="card-body">
        <h2>{{item.name}}</h2>
    </div>
    <div class="card-footer">
        <!--<img src="./../../assets/peche.jpeg" alt="logo" width="200" height="250">-->
        <!-- <input type="URL" name="myURL" [(ngModel)]="myURL" placeholder="insert image URL here" (change)="onURLinserted() ">

        <img [src]="imageToShow" alt="Place image title"> -->

        <img class="image" src={{item.image}} width="200" height="250" />


        <div class="price">{{item.price}} €</div>
        <div class="buy"><button class="button-3">Buy</button></div>
        <div class="infos"><button class="button-3" (click)="myproduct()">Product Infos</button></div>
    </div>
</div>

<div class="second-footer"></div>
