<div class="container">
    <div class="formulaire">
        <div *ngIf="!isAdmin" >
            <div class="block">
                <label>Username</label>
                <input [(ngModel)]="username" type="text" class="username"/>
            </div>
            <div class="block-email">
                <label>Email</label>
                <input [(ngModel)]="email" type="text" class="email"/>
            </div>
            <div class ="block-adresse">
                <label>Adresse</label>
                <input [(ngModel)]="adresse" type="text" class="adresse"/>
            </div>
            <div class="block-pass">
                <label>Password</label>
                <input [(ngModel)]="password" type="text" class="pass"/>
            </div>
            <div class="modify">
              <button class="button-3" (click)="modify()">Modify</button>
            </div>

            <div class="delete">
              <button class="button-3" (click)="delete()">Delete</button>
            </div>



        </div>
        <div *ngIf="isAdmin" class="foradmin">
          <h2>Modify User For Admin</h2>
          <div>
            <label >Which User?</label>
            <input [(ngModel)]="usernameForAdmin" type="text" class="input-which-user"/>
            <div class="getInfoAdmin">
              <button class="button-3" (click)="getInfoUserAdmin()">Get Info</button>
            </div>
          </div>
          <div class="block-username">
              <label>Username of User</label>
              <input [(ngModel)]="usernameUser" type="text" class="username-user"/>
          </div>
          <div class="block-email">
              <label>Email of User</label>
              <input [(ngModel)]="emailUser" type="text" class="email-user"/>
          </div>
          <div class="block-adresse">
              <label>Adresse of User</label>
              <input [(ngModel)]="adresseUser" type="text" class="adresse-user"/>
          </div>
          <div class="block-pass">
              <label>Password of User</label>
              <input [(ngModel)]="passwordUser" type="text" class="pass-user"/>
          </div>

          <div class="modify">
            <button class="button-3" (click)="modifyAdmin()">Modify</button>
          </div>
          <div class="delete">
            <button class="button-3" (click)="deleteAdmin()">Delete</button>
          </div>

      </div>
    </div>
</div>
