
* {
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
  background: rgb(243, 247, 247);
}

.formulaire{
  position: absolute;
  top :  200px;
  left : 700px;
}

.pass{
  position: relative;
  left : 15px;
}

.adresse{
  position: relative;
  left : 27px;
}

.email{
  position: relative;
  left : 45px;
}

.block-email{
  position:relative;
  top:10px;
}

.block-adresse{
  position:relative;
  top:20px;
}

.block-pass{
  position:relative;
  top:30px;
}


.username{
  position :relative;
  left: 10px;
}

.block-login{
  position: absolute;
  top :  300px;
  left : 70px;
}

.login{
    padding: 5px 10px;
    color: #2ea44f;
    text-decoration: none;
    font-weight: medium;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.block-register{
  position: relative;
  top: 30px;
  left: 10px;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  top:50px;
  left:100px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

li {
  display: inline-block;
}
